{% extends 'base.html' %}

{% load wagtailcore_tags %}

{% block content %}

  <div class="container">
    {% include 'home/partials/navbar_new.html' with page=page settings=settings %}
  </div>

    {% for block in page.content %}

    <!--
    {% cycle 'right' 'left' as position %}
    {% cycle 'primary' 'secondary' as color %}
    {% cycle 'white' '' 'white' as text_color %}
    {% cycle 'dark-blue' 'primary' 'primary' as btn_color %}
    -->
    {% include_block block with pos=position color=color text_color=text_color btn_color=btn_color %}
  {% endfor %}


  <section class="bg-secondary">
    {% include 'home/partials/footer_new.html' with settings=settings %}
  </section>
{% endblock %}