{% extends 'base.html' %}

{% load wagtailcore_tags wagtailimages_tags widget_tweaks %}

{% block content %}

  {% include 'home/partials/navbar_new.html' with page=page settings=settings %}

  <div class="container">
    <div class="row">

      <!-- CONTACT FORM -->
      <h2 class="font-weight-light mt-5">CONTACT FORM</h2>
      <form action="{% pageurl page %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-row {% if forloop.last %}mb-3{% else %}mb-1{% endif %}">
            <div class="col">
            {% if field.field.widget.input_type == 'select' or field.field.widget.input_type == 'checkbox' %}
              <div class="row" style="padding: 0.9375rem; color: darkgray">
                <div class="col-6 align-self-center">{{ field.label }}</div>
                <div class="col-6">
                  {% render_field field class+="form-control form-control-minimal mt-3" placeholder=field.label %}
                </div>
              </div>
            {% else  %}
              {% render_field field class+="form-control form-control-minimal mt-3" placeholder=field.label rows=5 %} 
            {% endif %}          
            </div>
          </div>
      {% if field.errors %}
        {% for error in field.errors %}
          <div class="text-danger">
            {{ error }}
          </div>
        {% endfor %}
      {% endif %}
        {% endfor %}

      {% if messages %}
        <div class="messages mb-2 mt-2">
            {% for message in messages %}
            <p class="eyebrow text-primary">{{ message }}</p>
            {% endfor %}
        </div>
      {% endif %}

        <div class="form-row mt-3">
          <div class="col">
            <button type="submit" class="btn btn-primary px-5 mb-5 mt-3">{{ page.send_button }}</button>
          </div>
        </div>
      </form>
      </div>
      <div class="col-lg-7 pt-5 pb-5">
        {% image page.directions_image width-1160 as img %}
        <a href="#directionsmodal" data-toggle="modal">
          <img
            class="img-fluid"
            src="{{ img.file.url }}"
          />
        </a>
      </div>
    </div>
    {% if page.team_image %}
    <h2 class="font-weight-light mt-5">TEAM</h2>
    <div class="row">
      <div class="col-md-6">
       <p>{{ page.team_text }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        {% image page.team_image width-1500 as img %}
          <img
            class="img-fluid"
            src="{{ img.file.url }}"
          />
      </div>
    </div>
    {% comment %} {% include 'home/partials/contacts.html' %} {% endcomment %}
    {% endif %}
  </div>

  <section class="bg-secondary">
    {% include 'home/partials/footer_new.html' with settings=settings %}
  </section>

  <!-- Modal -->
<div class="modal fade" id="directionsmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <img
          class="img-fluid"
          src="{{ img.file.url }}"
        />
      </div>
    </div>
  </div>
</div>

{% endblock %}
