{% extends "base.html" %}
{% load static %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

{% include 'home/partials/intro.html' with page=page settings=settings %}

<section>
  {% include 'home/partials/section1.html' with page=page %}
</section>

<section>
  {% include 'home/partials/testimonials.html' with page=page %}
</section>

<section>
  {% include 'home/partials/partners.html' with page=page %}
</section>

<section class="bg-secondary">
  {% include 'home/partials/footer.html' with settings=settings %}
</section>

{% endblock content %}
