{% extends 'base.html' %}

{% load wagtailcore_tags %}

{% block content %}

  {% include 'home/partials/navbar_new.html' %}

  <div class="container">

    <h2 class="mt-5">{{ page.press_title }}</h2>
    <div class="row">
    {% for item in page.press_articles %}
      <div class="col-sm-6 col-lg-4">
        {% include 'home/partials/press.html' %}
      </div>
    {% endfor %}
    </div>
  </div>


  <section class="bg-secondary mt-5">
    {% include 'home/partials/footer_new.html' with settings=settings %}
  </section>
{% endblock %}