{% load wagtailcore_tags wagtailimages_tags %}

<div id="what" class="container-fluid bg-{{ color }} px-0">
  <div class="container">
    <div class="row">

  <!-- LEFT POSITION (text right) -->
  {% if position == 'left' %}

    {% if value.video %}
      {% with value.video.thumbnail as thumb %}
    <div class="col-md-6 bg-white px-0">
      <video 
        class="about" 
        loop
        autoplay
        muted
      >
        <source
          src="{{ value.video.file.url }}"
          type="video/mp4"
        />
      </video>
    </div>
      {% endwith %}

    {% elif value.gallery %} 
      <div class="col-md-6 bg-white px-0">        
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            {% for img in value.gallery %}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first%}active{% endif %}"></li>
          {% endfor %}
          </ol>
          <div class="carousel-inner">
          {% for img in value.gallery %}
          {% image img fill-600x450 as this_img %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <img src="{{ this_img.file.url }}" class="d-block w-100" alt="...">
            </div>
          {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

    {% elif value.image %}
      {% image value.image width-600 as bg_img %}
      <div class="col-md-6 bg-white bg-img px-0" style="background-image: url({{ bg_img.file.url }})">
        <div style="height: 100%: width: 100%" class="triangle-primary-right"></div>
      </div>
    {% else %}
      <div class="col-md-6 bg-white bg-img px-0" style="background-image: url({{ bg_img.file.url }})">
        <div style="height: 100%: width: 100%" class="triangle-primary-right"></div>
      </div>
    {% endif %}
      <div class="col-md-6 text-white py-5 px-5">
        <h2 class="font-weight-light">{{ value.title|upper|richtext }}</h2>
        <p class="font-weight-lights">{{ value.content }}</p>
      {% if page.subscription_link %}
        <a href="{{ page.subscription_link }}" download="DBS Select" target="_blank" class="btn btn-outline-primary btn-white-primary my-4"><b>{{ page.subscription_link_text|upper }}</b></a>
      {% endif %}
      </div>

  <!-- RIGHT POSITION (text left) -->
  {% else %}

      <div class="col-md-6 text-white py-5 px-5">
        <h2 class="font-weight-light">{{ value.title|upper|richtext }}</h2>
        <p class="font-weight-lights">{{ value.content }}</p>
      {% if page.subscription_link %}
        <a href="{{ page.subscription_link }}" download="DBS Select" target="_blank" class="btn btn-outline-primary btn-white-primary my-4"><b>{{ page.subscription_link_text|upper }}</b></a>
      {% endif %}
      </div>

    {% if value.video %}
      {% with value.video.thumbnail as thumb %}
    <div class="col-md-6 bg-white px-0">
      <video 
        class="about" 
        loop
        autoplay
        muted
      >
        <source
          src="{{ value.video.file.url }}"
          type="video/mp4"
        />
      </video>
    </div>
      {% endwith %}

    {% elif value.gallery %} 
      <div class="col-md-6 bg-white px-0">        
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            {% for img in value.gallery %}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first%}active{% endif %}"></li>
          {% endfor %}
          </ol>
          <div class="carousel-inner">
          {% for img in value.gallery %}
          {% image img fill-600x450 as this_img %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <img src="{{ this_img.file.url }}" class="d-block w-100" alt="...">
            </div>
          {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    {% elif value.image %}
      {% image value.image width-600 as bg_img %}
      <div class="col-md-6 bg-white bg-img px-0" style="background-image: url({{ bg_img.file.url }})">
        <div style="height: 100%: width: 100%" class="triangle-secondary-left"></div>
      </div>
    {% else %}
      <div class="col-md-6 bg-white bg-img px-0" style="background-image: url({{ bg_img.file.url }})">
        <div style="height: 100%: width: 100%" class="triangle-secondary-left"></div>
      </div>
    {% endif %}

  {% endif %}
    </div>
  </div>
</div>