{% extends 'base.html' %}

{% load i18n %}

{% block content %}

{% include 'home/partials/navbar_new.html' with page=page settings=settings %}

<div class="container mb-5 py-5">
  <div class="col-lg-4 offset-lg-4 col-md-7 offset-md-3 col-sm-8 offset-sm-2 mt-5 pt-5">
  <h2 class="font-weight-light text-uppercase">{% trans "Password required" %}</h2>
  {% block password_required_message %}
      <p>{% trans "You need a password to access this page." %}</p>
  {% endblock %}
    <form action="{{ action_url }}" method="POST" class="mb-5">
      {% csrf_token %}
      {{ form.return_url }}
      <div class="mb-4">
        <div class="password-toggle py-4">
          <input class="form-control" type="password" name="password" placeholder="{% trans 'Password' %}" required="" id="id_password">
        </div>
        {% if form.password.errors %}
        <div class="text-danger">
        {% for error in form.password.errors %}
          {{ error }}
        {% endfor %}
        </div>
        {% endif %}
      </div>      
      <input class="btn btn-primary btn-lg w-100" type="submit" value="{% trans 'Continue' %}" class="button mb-5" />
    </form>
  </div>
</div>

<section class="bg-secondary mt-5">
  {% include 'home/partials/footer_new.html' with settings=settings %}
</section>

{% endblock %}