@font-face {
  font-family: 'DBSGotham';
  font-weight: 400;
  src: local('temm'),
       url('../fonts/temm.otf') format("opentype");
}

@font-face {
  font-family: 'DBSGotham';
  font-weight: 200;
  src: local('temmlight'),
       url('../fonts/temmlight.otf') format("opentype");
}

@font-face {
  font-family: 'DBSGotham';
  font-weight: 600;
  src: local('temmbold'),
       url('../fonts/temmbold.otf') format("opentype");
}

* {
  font: 1em DBSGotham;
}

.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; 
}

.logo {
  position: absolute;
  top: 50px;
  height: 100px;
}