@font-face {
  font-family: 'Gotham';
  font-weight: 400;
  src: local('temm'),
       url('../fonts/temm.otf') format("opentype");
}

@font-face {
  font-family: 'GothamLight';
  font-weight: 300;
  src: local('temmlight'),
       url('../fonts/temmlight.otf') format("opentype");
}

@font-face {
  font-family: 'GothamBold';
  font-weight: 600;
  src: local('temmbold'),
       url('../fonts/temmbold.otf') format("opentype");
}

* {
  font: 1em GothamLight;
}

p {
  line-height: 1.4em;
}

b {
  font-family: 'GothamBold';
  font-weight: 600;
}

#fundedby {
  position: absolute;
  bottom: 0px;
  padding: 20px;
}

.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; 
}

.logo {
  position: absolute;
  top: 50px;
  height: 100px;
}

.btn-outline-primary.btn-white-primary {
  background-color: #fafafa;
  border-color: #fafafa;
}

.btn-outline-primary.btn-white-primary, .btn-outline-secondary.btn-white-secondary {
  background-color: #fafafa;
  border-color: #fafafa;
}

.btn-outline-primary.btn-white-primary:hover {
  color: #fff;
  background-color: #006769;
  border-color: #005a5c;
}

.btn-outline-secondary.btn-white-secondary:hover {
  color: #fff;
  background-color: #2c2d2e;
  border-color: #262727;
}