{% load wagtailimages_tags %}

<div class="row">
{% for item in page.team.all %}
  {% image item.image fill-150x150 as img %}
  <div class="col">
    <div class="card text-center">
      <div class="card-header">
        <img src="{{ img.file.url }}" class="rounded-circle" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <p class="card-text">{{ item.text }}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
{% endfor %}
</div>
