<div id="contact" class="container py-5">
  <div class="text-center text-white">
    <h5 class="py-3"><b>CONTACT</b></h5>
    <p>
      {{ settings.home.BDSSelectSettings.email }}
    </p>
    <p>
      {{ settings.home.BDSSelectSettings.location.name }}<br/>
      {{ settings.home.BDSSelectSettings.location.street }} {{ settings.home.BDSSelectSettings.location.number }}<br/>
      {{ settings.home.BDSSelectSettings.location.postal_code }} {{ settings.home.BDSSelectSettings.location.city }}<br/>
    </p>
  </div>
</div>