{% load i18n wagtailcore_tags wagtailimages_tags custom_tags %}

{% image settings.home.BDSSelectSettings.logo_white width-200 as logo %}

{% image page.background_image width-2000 as tmp_img %}

<div class="p-0" style="display: relative;">

  <video autoplay muted loop id="myVideo" style="position: relative; width: 100%; height: 56.25%">
    <source src="{{ page.video.file.url }}" type="video/mp4">
  </video>

  <div class="p-0" style="position: absolute; top: 0; width: 100%; height: 56.25vw; background-color: rgba(0,0,0,0.5);">

    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">
          <div class="logo-wrapper">
            <img src="{{ logo.file.url }}" class="img-fluid"/>  
          </div>
        </a>
        <button class="navbar-toggler mt-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item text-center active px-2 mt-5">
              {% home_page page.locale as home_link %}
              <a class="nav-link" href="{{ home_link }}">
                <b>HOME</b>
              </a>
            </li>
            <li class="nav-item text-center px-2 mt-5">
              <a class="nav-link" href="{% info_page page.locale %}">
                {% trans 'WHAT IS DBS?' %}
              </a>
            </li>
            <li class="nav-item text-center px-2 mt-5">
              <a class="nav-link" href="{% sessions_page page.locale %}">
                {% trans 'DBS SESSIONS' %}
              </a>
            </li>
            <li class="nav-item text-center px-2 mt-5">
              <a class="nav-link" href="{% about_page page.locale %}">
                {% trans 'ABOUT' %}
              </a>
            </li>
            <li class="nav-item text-center px-2 mt-5">
              <a class="nav-link" href="{% media_page page.locale %}">
                {% trans 'MEDIA' %}
              </a>
            </li>
            <li class="nav-item text-center px-2 mt-5">
              <a class="nav-link" href="{% contact_page page.locale %}">
              {% trans 'CONTACT' %}
              </a>
            </li>
            <li class="nav-item text-center px-2 mt-5">
              <a class="nav-link" href="{% relive_page page.locale %}">
                {% trans 'RELIVE' %}
              </a>
            </li>
          </ul>
          <div class="d-flex flex-grow-1 justify-content-end align-items-center mt-5 mr-3">
            <div class="btn-group">
              <button type="button" class="btn btn-danger dropdown-toggle bg-primary" style="border: none;" data-toggle="dropdown" aria-expanded="false">
                {{ page.locale.language_code|upper }}
              </button>
              <div class="dropdown-menu">
              {% if not page.locale.language_code == 'nl' %}
                <a class="dropdown-item" href="/nl">NL</a>
              {% endif %}
              {% if not page.locale.language_code == 'en' %}
                <a class="dropdown-item" href="/en">EN</a>
              {% endif %}
              {% if not page.locale.language_code == 'fr' %}
                <a class="dropdown-item" href="/fr">FR</a>
              {% endif %}
              {% if not page.locale.language_code == 'de' %}
                <a class="dropdown-item" href="/de">DE</a>
              {% endif %}
              </div>
            </div>
          </div>
        </div>
      </nav>

      {% include 'home/partials/fundedby.html' %}
      <div id="dbs-title" class="mt-5">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 text-center text-white">
          <h1>{{ page.subtitle|upper|richtext }}</h1>
        </div>
      </div> 
    </div>
  </div>
</div>