{% load wagtailcore_tags wagtailimages_tags %}

<div class="container">
  <div class="text-center py-3">
    <h2 class="text-primary"><b>{{ page.videos_title|upper }}</b></h2>
  </div>

  {% for video in page.videos.all %}
    {{ video.video.title }}
    {{ video.description }}


    <video width="320" height="240" controls>
      <source src="{{ video.video.file.url }}" type="video/mp4">
      Your browser does not support the video tag.
    </video>

  <div class="card">
    {% comment %} <img src="{{ video.video.file.url }}" class="card-img-top" alt="{{ video.description }}"> {% endcomment %}
    <div style="padding-top: 60%">
      <iframe width="100%" height="100%" src="{{ video.video.file.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" style="position:absolute;top:0;">
      </iframe>
    </div>
    <div class="card-body">
      <p class="card-text">{{ video.description }}</p>
    </div>
  </div>

  {% endfor %}
</div>