{% load wagtailcore_tags custom_tags %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse bg-secondary" id="navbarSupportedContent">
    <ul class="navbar-nav pl-3">
      <li class="nav-item text-center active px-2 my-3">
      {% with count=page.get_children.count %}
        <a class="nav-link" href="{% pageurl page.get_parent.get_children.0 %}"><b>HOME</b></a>
      {% endwith %}
      </li>
      <li class="nav-item text-center px-2 my-3">
        <a class="nav-link" href="{% about_page page.locale %}">WHAT IS DBS?</a>
      </li>
      <li class="nav-item text-center px-2 my-3">
        <a class="nav-link" href="{% sessions_page page.locale %}">DBS SESSIONS</a>
      </li>
      <li class="nav-item text-center px-2 my-3">
        <a class="nav-link" href="{% media_page page.locale %}">MEDIA</a>
      </li>
      <li class="nav-item text-center px-2 my-3">
        <a class="nav-link" href="{% contact_page page.locale %}">CONTACT</a>
      </li>
      <li class="nav-item text-center px-2 my-3">
      </li>
    </ul>
    <div class="ml-auto mr-3">
      <select class="form-control" id="exampleFormControlSelect1">
        <option>English</option>
        <option>Nederlands</option>
        <option>Français</option>
      </select>
    </div>
  </div>
<script>
 /* $(function(){
      $('.selectpicker').selectpicker();
  }); */
</script>
</nav>