{% load wagtailimages_tags %}

{% image settings.home.BDSSelectSettings.logo_white width-200 as logo %}

<nav class="navbar navbar-expand-lg navbar-dark">
  <button class="navbar-toggler mt-5" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse bg-secondary" id="navbarSupportedContent">
    <ul class="navbar-nav pl-3">
      <li class="nav-item text-center active px-2 my-3">
        <a class="nav-link" href="#"><b>HOME</b></a>
      </li>
      <li class="nav-item text-center px-2 my-3">
        <a class="nav-link" href="#what">WHAT IS DBS?</a>
      </li>
      <li class="nav-item text-center px-2 my-3">
        <a class="nav-link" href="#sessions">DBS SESSIONS</a>
      </li>
      <li class="nav-item text-center px-2 my-3">
        <a class="nav-link" href="#media">MEDIA</a>
      </li>
      <li class="nav-item text-center px-2 my-3">
        <a class="nav-link" href="#contact">CONTACT</a>
      </li>
    </ul>
{% comment %} 
    <select class="selectpicker" data-width="fit">
        <option data-content='EN'>English</option>
      <option  data-content='NL'>Nederlands</option>
    </select> {% endcomment %}
    <div class="ml-auto mr-3">
      <select class="form-control" id="exampleFormControlSelect1">
        <option>English</option>
        <option>Nederlands</option>
        <option>Français</option>
      </select>
    </div>
  </div>
<script>
 /* $(function(){
      $('.selectpicker').selectpicker();
  }); */
</script>

</nav>