{% load i18n wagtailcore_tags custom_tags %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
  <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  {% get_menu page.locale.language_code as navigation %}

  <div class="collapse navbar-collapse bg-dark" id="navbarSupportedContent">
    <ul class="navbar-nav">
      {% home_page page.locale as home_link %}
      {% check_current_page home_link request.resolver_match.args.0 as check_home_link %}
      <li class="nav-item text-center px-2 my-3 {% if check_home_link %}active{% endif %} ">
      {% with count=page.get_children.count %}
        <a class="nav-link" href="{{ home_link }}">
        {% if check_home_link %}
          <b>HOME</b>
        {% else %}
          HOME
        {% endif %}
        </a>
      {% endwith %}
      </li>

      {% for item in navigation.menu_items.all %}

      {% check_current_page item.link request.resolver_match.args.0 as check_is_active %}


      <li class="nav-item text-center px-2 my-3">
        <a class="nav-link" href="{{ item.link }}">
        {% if check_is_active %}<b>{% endif %}
          {{ item.title|upper }}
        {% if check_is_active %}</b>{% endif %}
        </a>
      </li>
      {% endfor %}
    </ul> 
    <div class="d-flex flex-grow-1 justify-content-end">
      <div class="btn-group mr-3">
        <button type="button" class="btn btn-danger dropdown-toggle bg-primary" style="border: none;" data-toggle="dropdown" aria-expanded="false">
          {{ page.locale.language_code|upper }}
        </button>
        <div class="dropdown-menu">
        {% if not page.locale.language_code == 'nl' %}
          <a class="dropdown-item" href="/nl">NL</a>
        {% endif %}
        {% if not page.locale.language_code == 'en' %}
          <a class="dropdown-item" href="/en">EN</a>
        {% endif %}
        {% if not page.locale.language_code == 'fr' %}
          <a class="dropdown-item" href="/fr">FR</a>
        {% endif %}
        {% if not page.locale.language_code == 'de' %}
          <a class="dropdown-item" href="/de">DE</a>
        {% endif %}
        </div>
      </div>
    </div>

  </div>
</div>
<script>
</script>
</nav>
<div class="navbar-margin"></div>