{% load wagtailimages_tags %}

<a class="card mb-3 mt-3 text-decoration-none text-dark h-100" style="max-width: 540px;" href="{{ item.url }}" target="_blank">
  {% image item.image height-200 as item_img %}
  <div class="d-flex text-center px-3 pt-2 justify-content-center align-items-center" style="height: 200px;">
    <img src="{{ item_img.file.url }}" class="img-fluid">
  </div>
  <div class="row no-gutters">
    <div class="col-12">
      <div class="card-body">
        <h5 class="card-title text-decoration-none">{{ item.title }} </h5>
        <p class="card-text">{{ item.content }}</p>
        {% comment %} <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> {% endcomment %}
      </div>
    </div>
  </div>
</a>