{% load wagtailcore_tags wagtailimages_tags %}

<div class="container bg-primary">
  <div class="row">
    {% image page.what_image width-1000 as bg_img %}
    <div class="col-6 bg-white bg-img" style="background-image: url({{ bg_img.file.url }})">

    </div>
    <div class="col-6 text-white py-5 px-4">
      <h2 class="font-weight-light">{{ page.what|upper|richtext }}</h2>
      <p class="font-weight-light">{{ page.what_info|richtext }}</p>
      <button type="button" class="btn btn-outline-primary btn-white-primary my-4">{{ page.download_text|upper }}</button>
    </div>
  </div>
</div>
<div class="container bg-secondary">
  <div class="row">
    {% image page.sessions_image width-1000 as bg_img %}
    <div class="col-6 text-white py-5 px-4">
      <h2 class="font-weight-light">{{ page.sessions|upper|richtext }}</h2>
      <p class="font-weight-light">{{ page.sessions_info|richtext }}</p>
      <button type="button" class="btn btn-outline-secondary btn-white-secondary my-4">{{ page.data_text|upper }}</button>
    </div>
    <div class="col-6 bg-white bg-img" style="background-image: url({{ bg_img.file.url }})">

    </div>
  </div>
</div>